Analyze_sole_source.ipynb
files/c0a9a334eea1454eba2c647299b0b01c)Attachment_J.20_District_of_Columbia_Courts_Facilities_Master_Plan_2019_2C_Issued_July_2020.pdf
files/5061fd41587b4c118ba0679cfd70a30e_Attachment_J.20_District_of_Columbia_Courts_Facilities_Master_Plan_2019%2C_Issued_July_2020.pdf
fix_description.ipynb
Extract_SAM_gov_contract_opportunities_attachments.ipynb
